body{
	font:15px/1.5 Arial;
	color: white;
	background-color: black;
	padding: 0;
	margin: 0;
}
/*global*/
.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}
/*header**/
header{
	background:black;
	color: white;
	font-size: 24px Rubik;

}
header a{
	color:#f2ffff;
	text-decoration:none;
	font-size: 16px;
}
header a:hover{
	background-color: #777;
}
header ul{
	margin: 0;
	padding: 0;
	
}
.imga{
	display: inline-block;
}
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 10px;
}
head #menu{
	float: left;
}
header #menu img{
	margin: 0;
	width: 308;
	height: 90px;
	margin-top: 0px;
}
header nav{
	float: right;
	margin-top: 10px;
	}
	#mybody{
		margin: 0px;
	}
	#mybody .bbody{
		float: left;
		text-align: left;
		width: 30%;
		padding: 80px;

	}
	.bbody img{
		width: 300px;
		height: 400px;
		border-radius: 50px;
	}
	.bbody h3{
		
	}
	.bbody h2{
		font-family: Alegreya;
  		font-weight: Bold Italic;
  		font-size: 24px;
	}
	.bbody #hire{
    background-color: #3718F8;
	border-radius: 50px;
	color: white;
	width: 150px;	
	height: 50px;     
  	font-family: Alegreya;
  	font-weight: ExtraBold Italic;
  	font-size: 24px;  
  	text-align: center;
  	color: white;
		
	}
	.bbody #mywork{
	background-color: #ffffff;
	color: black;
	 font-family: Alegreya;
     font-weight:  Italic;
     font-size: 24px;  
     height: 50px;
     width: 200px;	
	}
	
	
	.bbody a{
		text-decoration:none;
	}
	.bbody #mine{
		background-image:url('assets/mine.png');
		color: black;
	}
	footer{
		padding: 5px;
		bottom: : 0px;
		background-color: #342E2E;
		text-align: center;
	}
	
.bare {
  width: 426px;
  height: 23px;
  background: rgba(214,216,239,1);
  opacity: 1;  
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.about_body{
	
	
}
#about{
	float: left;
	text-align:justify;
	width: 45%;
	margin-left: 1px;

}
#skills{
	float: right;	
	width: 45%;
	margin-right: 1px;
}
#servicebody{
	font:15px/1.5 Arial;
	color: black;
	background-color: #E9EBF4;
	padding: 0;
	margin: 0;
}
#servicefooter{
	margin-bottom: 0;
}
.servicebox{
	margin-top: 85px;
	float: left;
	width: 30%;
}
#myservice p{
	background-color: black;
	color: white;
	margin: 10%;
}
.project{
	float: left;
	width: 40%;
	border-style: solid;
	border-radius: 50px;


}
.project img{
	height: 200px;
	width: 400px;
	align-content: center;
	padding: 10px;
}
.project #mywe{
	background-color: #474646;
	border-radius: 50px;
	float: right;

}
	@media (max-width: 308px){
		header #menu,
		header nav,header  nav li{
			float: none;
			text-align: center;
			width: 100%;
		}
		header{
			padding-bottom: 20PX;
		}
		#mybody #myprofile {
			margin-top: 40px;
			display: block;
			width: 100%
		}
		.servicebox{
			display: block;
		}
	}